@model IEnumerable<Event_Management.Models.EventModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col d-flex justify-content-center">
    @if (ViewBag.Message != null)
    {
        <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
    }
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Events</h6>
        </div>
        <div class="card-body">
            <table class="table-responsive-md table-responsive-sm table-responsive-lg">
                <thead>
                    <tr class="col-md-12">
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.EventName)
                        </th>
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th class="col-md-2"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr class="col-md-12">
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.EventName)
                                </td>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td class="col-md-2">
                                    @if (item.Date != null)
                                    {@item.Date.Value.ToString("d")}

                                </td>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td class="col-md-2">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
