@model IEnumerable<Event_Management.Models.EventModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 220px; /* Added */
    }

    .footer {
        position: inherit !important;
    }
</style>
@{
    <div class="pt-5 ">
        @if (User.Identity.IsAuthenticated != true)
        {
        <div class="card" style="width: 23rem;" role="main" id="bearcat_alert">
            <img class="card-img-top" src="~/FASFA-Homepage-Graphic-22-23-01.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">P&F Class.</h5>
                <p class="card-text">Some information about the class is displayed here.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-primary">Location: <span>Colden hall</span></li>
                <li class="list-group-item bg-primary">Date: <span> @DateTime.Today</span></li>
            </ul>
            <div class="card-body">
                <a href="/api/Events/Index" class="card-link">See more</a>
            </div>
        </div>
        }
    </div>
    if (User.Identity.IsAuthenticated != false)
    {
        if (Model != null && Model.Count() > 0)
        {

            <div class="card" style="width: 23rem;" role="main" id="bearcat_alert">
                @if (Model.FirstOrDefault().ImageName != "")
                {
                    <img class="card-img-top" src="@("Image/"+Model.FirstOrDefault().ImageName)" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" src="Image/default.jpg" alt="default img">
                }
                <div class="card-body">
                    <h5 class="card-title">@Model.FirstOrDefault().EventName</h5>
                    <p class="card-text">Some information about the class is displayed here.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary">Location: <span>@Model.FirstOrDefault().Location</span></li>
                    <li class="list-group-item bg-primary">Date: <span> @DateTime.Parse(Model.FirstOrDefault().Date).ToShortDateString().</span></li>
                    <li class="list-group-item bg-primary">Time: <span> @DateTime.Parse(Model.FirstOrDefault().Time).ToShortTimeString().</span></li>
                </ul>
                <div class="card-body">
                    <a href="/api/Events/Index" class="card-link">See more</a>
                </div>
            </div>
        }
        else
        {
            <div class="card" style="width: 23rem;" role="main" id="bearcat_alert">
                <img class="card-img-top" src="~/FASFA-Homepage-Graphic-22-23-01.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">No Event.</h5>
                    <p class="card-text">Some information about the class is displayed here.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary">Location: <span>Empty Hall</span></li>
                    <li class="list-group-item bg-primary">Date: <span> @DateTime.Today</span></li>
                </ul>
                <div class="card-body">
                    <a href="/api/Events/Create" class="card-link">Add Event</a>
                </div>
            </div>
        }

    }
}
